<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emoji-translator</title>

    <link rel="stylesheet" href="public/main.css">
 ://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 
   
</head>
<body>

{{template "header"}}


</body>
</html>
    
